* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../img/Rectangle.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
    height: 94.3vh;
}


nav p img {
    padding-right: 5px;
}

nav p {
    margin-top: 40px;
    margin-left: 55px;
    color: #fff;
    line-height: 0.82;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: -10px;
}

nav li {
    display: inline;
    padding: 15px;
}

nav li:first-child {
    font-weight: bold;
}

ul {
    text-align: center;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 0.82;
}

li {
    display: inline-block;
}

.button1 button {
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
    line-height: 1.21;
    font-size: 1.7rem;
    width: 100px;
    height: 40px;
}

.button1 {
    text-align: right;
    margin-top: -25px;
    margin-right: 40px;
}

.hero {
    margin-top: 10%;
}

.hero h1 {
    color: #fff;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 1.2;
}

.hero p {
    font-size: 2.4rem;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    font-weight: 600;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.hero button {
    background-color: #fff;
    color: #fa5858;
    border: none;
    border-radius: 6px;
    line-height: 1.21;
    font-size: 1.7rem;
    width: 160px;
    height: 60px;
}

.button {
    display: flex;
    justify-content: center;
}


.hero1 h2 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 3.6rem;
    margin-top: 250px;
    width: 445px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.text {
    font-size: 1.6rem;
    line-height: 1.37;
    width: 445px;
    margin-left: 50px;
}

.hero1 img {
    border-radius: 15px;
    width: 540px;
    height: 311px;  
}

.img {
    text-align: right;
}